*
{
    margin: 0px;
    padding: 0px;
}

body
{
    font-size: 0.75em;
    font-family: Tahoma, Sans-Serif;
}

#navigation
{
    clear: left;
    position: relative;
    margin: 0 auto;
    width: 994px;
    margin-top: 50px;
    background: #2685BF;
    font-size: 150%;
}

#navigation ul li
{
    display: inline;
    padding-right: 10px;
}

#navigation a
{
    color: White;
    text-decoration: none;
}

#content
{
    clear: left;
    position: relative;
    margin: 20px auto;
    width: 994px;
}

table
{
    border-collapse: collapse;
    width: 994px;
}

thead
{
    background: #2983A6;
    color: White;
    font-size: 125%;
    border-bottom: 1px solid black;
}

tbody tr
{
    height: 40px;
    background: #F2F2F2;
}

tbody tr:nth-child(odd)
{
    background: #AEDFF2;
}

td
{
    padding-right: 50px;
}

tr.reveal-row
{
    display: none;
}

p
{
    margin-bottom: 20px;
}

fieldset
{
    border: none;
    font-size: 125%;
}

fieldset ol li
{
    padding: 20px 10px 0 0;
    list-style: none;
    display: inline-block;
}

legend
{
    font-weight: bold;
}

fieldset input[type="submit"]
{
    border: 1px solid grey;
    background: white;
    height: 20px;
    width: 60px;
}

div.hover
{
    background: #EEE;
}

p.buildDetail
{
    padding-left: 20px;
}
