<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TfsDeployer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TfsDeployer.Properties.Settings>
      <setting name="KeyFile" serializeAs="String">
        <value />
      </setting>
      <setting name="SignDeploymentMappingFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TfsUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="TfsDomain" serializeAs="String">
        <value />
      </setting>
      <setting name="TfsPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="TeamProjectCollectionUri" serializeAs="String">
        <value>http://MyTfsServer:8080/tfs/MyProjectCollection/</value>
      </setting>
      <setting name="BaseAddress" serializeAs="String">
        <value>http://MyDeployerMachine/Temporary_Listen_Addresses/TfsDeployer</value>
      </setting>
    </TfsDeployer.Properties.Settings>
  </applicationSettings>
  <system.net>
    <mailSettings>
      <!-- TODO update mail settings for each environment -->
      <smtp deliveryMethod="Network" from="me@localhost" >
        <network host="localhost" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.diagnostics>
    <!-- Uncomment the switches section to increase trace verbosity -->
    <!--
    <switches>
      <add name="Readify.Useful.TeamFoundation.Common" value="Verbose" />
      <add name="TfsDeployer" value="Verbose" />
      <add name="TfsDeployer.DeployAgent.DeploymentHostUI" value="Verbose" />
    </switches>
    -->
    <trace autoflush="true" />
  </system.diagnostics>

</configuration>
